@page
@model IndexModel
@{
    ViewData["Title"] = "V1";
}


<script>

    function getContentsOfBodyLatest() {
        return "{  \"id\": \"" + $("#id").val() + "\", \"title\": \"" + $("#title").val() + "\"}";
    }

    function getContentsOfBodyVersion() {

        return "{  \"id\": \"" + $("#id-2").val() + "\", \"title\": \"" + $("#title-2").val() + "\"}";
    }

    var latestAPI = 'https://localhost:44376/api/processes';
    var versionedApi = 'https://localhost:44376/api/v1/processes';

</script>

<div class="text-center">
    <h1 class="display-4">V1 (ProcessSchema) </h1>
    <p>
        This is the simplest earliest version of the object<br />
        It consists of three attributes<br />
        Id : The id of the process<br />
        Title: The title of the process<br />
        SchemaVersion : The version of the schema (is hard coded)<br />
    </p>

    <div class="col-md-12 row">
        <div class="shadow border col-md-4">

            <p class="display-4">API latest </p>


            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-4"><input type="button" value="Get By Id" onclick="get(latestAPI, '1', true, '#id-to-request')" /></div>
                    <div class="col-md-8"><input type="text" id="id-to-request" name="id-to-request" /></div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-4"><input type="button" value="GetAll" onclick="getAll(latestAPI, '1', true)" /></div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-4"><input type="button" value="Write" onclick="writeX(latestAPI, '1', true, getContentsOfBodyLatest)" /></div>
                    <div class=" col-md-8">&nbsp;</div>
                    <div class=" col-md-8"><input type="text" id="id" name="id" placeholder="id" /></div>
                    <div class=" col-md-8"><input type="text" id="title" name="title" placeholder="title" /></div>
                </div>
            </div>
        </div>

        <div class="shadow border col-md-4">
            <pre id="result" name="result" class="text-left"></pre>
        </div>


        <p></p>

        <div class="shadow border col-md-4">

            <p class="display-4">API V1</p>

            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-4"><input type="button" value="Get By Id" onclick="get(versionedApi, null, false, '#id-to-request-2')" /></div>
                    <div class="col-md-8"><input type="text" id="id-to-request-2" name="id-to-request" /></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-4"><input type="button" value="GetAll" onclick="getAll(versionedApi, null, false)" /></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-md-4"><input type="button" value="Write" onclick="writeX(versionedApi, null, false, getContentsOfBodyVersion)" /></div>
                    <div class=" col-md-8">&nbsp;</div>
                    <div class=" col-md-8"><input type="text" id="id-2" name="id-2" placeholder="id" /></div>
                    <div class=" col-md-8"><input type="text" id="title-2" name="title-2" placeholder="title" /></div>
                </div>
            </div>
        </div>
    </div>



    <script src="~/js/calls.js"></script>
